html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.lorem {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

html,
body,
#map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family:'Montserrat', sans-serif;
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-left > div {
    font-weight: 800;
    font-family: 'Montserrat'
}

body > div.introjs-tooltipReferenceLayer > div > div.introjs-tooltiptext {
    font-family: 'Roboto', sans-serif
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.legend {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-style: italic

}
